.hide {
  display: inline;
}


.container {
  display: flex;
  height: 100%;
  background-color: transparent;
}

.box-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  z-index: 1;

  padding-left: 3em;
  padding-right: 3em;
  align-items: center;

  background-color: transparent;

  /* border-style: dashed;
  border-color: red; */

  /* Hidden scroll bar */
  /* Firefox */
  scrollbar-width: none;
  /* IE and Edge */
  -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.box-scroll::-webkit-scrollbar {
  display: none;
}

.card {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  position: relative;
}

.card-padding {
  margin-right: 3em;
}

.button-id {
   position: absolute;
   left: 1em;
   top: 1em;
   padding-top: 6px;
   padding-bottom: 6px;
   padding-left: 16px;
   padding-right: 16px;
   border-radius: 3em;
   box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.05);
   background-color: white;
   pointer-events:none;
}

.horizontal-pills {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  left: 0em;
  bottom: -1em;
  background: none;
  gap: 12px;
  pointer-events:none;

  /* border: dotted red 1px; */
}

/* original size and position  */
#scale-image {
  transition: all 0.25s ease-out;
  transform: scale(1.1, 1.1);
}

#scale-image:hover {
  transition: all 0.15s ease-out;
  transform: scale(1.13, 1.13);
}

.image-block:hover {
  /* border-radius: 2em; */

  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  rotate: 1deg;
  transform: translate(0px,-10px);

  /* box-shadow: 0px 5px 16px #EAEEF4; */
  /* border: solid darkgrey 1px; */
}

.image-block {
  /* flex: 1 1 50em; */
  width: 24em;
  height: 24em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;

  transition: all 0.2s ease-in-out;

  /* space for written text below */
  margin-bottom: 1em;

  /* border styling */
  /* padding: 1em; */
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.image-box {
	width: 100%;
  height: inherit;
  border-radius: 3px;

  /* make image fit in box without distortion */
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
  background-position: center;
}

.card-category {
  border-radius: 3px;
  border: 1px solid;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-color: #EAEEF4;
}

/* iphone X */
@media screen and (max-width: 550px) {
  .hide {
    display: none;
  }

  .container {
    display: flex;
    height: 100%;
    background-color: transparent;
  }

  .box-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    z-index: 1;

    padding-left: 1.4em;
    padding-bottom: 1.4em;
    padding-top: 1.4em;

    /* align-items: center; */
    align-items: flex-end;
    background-color: transparent;

    /* Hidden scroll bar */
    /* Firefox */
    scrollbar-width: none;
    /* IE and Edge */
    -ms-overflow-style: none;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .box-scroll::-webkit-scrollbar {
    display: none;
  }

  .card {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
  }

  .card-padding {
    margin-right: 1.4em;
    margin-bottom: 3em;

  }


  /* original size and position  */
  #scale-image {
    transition: all 0.3s ease-out;
    transform: scale(1.1, 1.1);
  }

  #scale-image:hover {
    transition: all 0.2s ease-out;
    transform: scale(1.15, 1.15);
  }


  .image-block {
    /* flex: 1 1 50em; */
    width: 18em;
    height: 18em;
    display: flex;
    align-items: center;
    overflow: hidden;

    transition: all 0.2s ease-in-out;

    /* space for written text below */
    margin-bottom: 1em;

    /* border styling */
    /* padding: 1em; */
    border-radius: 3px;
    /* box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8); */
    /* border: solid #EAEEF4 1px; */
  }


  .image-box {
  	width: 100%;
    height: inherit;
    border-radius: 3px;

    /* make image fit in box without distortion */
  	overflow: hidden;
  	background-size: cover;
  	background-repeat: no-repeat;
    background-position: center;
  }

  .card-category {
    /* border-radius: 2em;
    border: 1px solid;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-color: #EAEEF4; */
    display: none;
  }
}

/* iphone 5/SE */
@media screen and (max-width: 360px) {
  .container {
    display: flex;
    height: 100%;
    background-color: transparent;
  }

  .box-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    z-index: 1;

    padding-left: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    align-items: flex-end;
    background-color: transparent;

    /* border-style: dashed;
    border-color: red; */

    /* Hidden scroll bar */
    /* Firefox */
    scrollbar-width: none;
    /* IE and Edge */
    -ms-overflow-style: none;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .box-scroll::-webkit-scrollbar {
    display: none;
  }

  .card {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
  }

  .card-padding {
    margin-right: 1em;
  }

  /* original size and position  */
  #scale-image {
    transition: all 0.3s ease-out;
    transform: scale(1.1, 1.1);
  }

  #scale-image:hover {
    transition: all 0.2s ease-out;
    transform: scale(1.15, 1.15);
  }


  .image-block {
    /* flex: 1 1 50em; */
    width: 14em;
    height: 14em;
    display: flex;
    align-items: center;
    overflow: hidden;

    transition: all 0.2s ease-in-out;

    /* space for written text below */
    margin-bottom: 0.5em;

    /* border styling */
    /* padding: 1em; */
    border-radius: 3px;
    /* box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8); */
    /* border: solid #EAEEF4 1px; */
  }


  .image-box {
  	width: 100%;
    height: inherit;

    /* make image fit in box without distortion */
  	overflow: hidden;
  	background-size: cover;
  	background-repeat: no-repeat;
    background-position: center;
  }

  .card-category {
    /* border-radius: 2em;
    border: 1px solid;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-color: #EAEEF4; */
    display: none;
  }
}
