* {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

html, body {
    height: 100%;
    -webkit-text-size-adjust: 100%;

}



img {
    max-width: 100%;
    max-height: 100%;
}

::-moz-selection { background: #F2ECF7; }
::selection { background: #F2ECF7; }

@import url("https://use.typekit.net/cdk1utk.css");
@import url("https://fonts.google.com/specimen/DM+Sans");

@font-face {
  font-family: SpecialElite-Regular;
  src: url(fonts/Special_Elite/SpecialElite-Regular.ttf) format("truetype");
}

:root {
    --white:#F2F2F2;
    --lightgrey:#999999;
    --darkgrey:#44444F;
    --black:#535362;
}

.daybreak-color:hover {
  color: #f25410;
}

.sfu-color:hover {
  color: #982932;
}

.red-color:hover {
  color: #C30081;
}

.grey-bg {
  background-color: #F9F9FA;
}


/* FADE IN
https://stackoverflow.com/questions/11679567/using-css-for-a-fade-in-effect-on-page-load
*/

#fade {
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


a {
  color: var(--black);
  text-decoration: none;
  font-family: "DM Sans", sans-serif;

  font-style: normal;
  font-size: 1em;
}

a:link {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;

  /* color: var(--darkgrey); */
}

a:hover {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;

  /* color: #8F9699; */
}

a:visited {
}

a:active {
}


.underline {
  border-bottom: solid black 1px;
}


.underline-2 {
  border-bottom: solid white 1px;
}

.underline-2:hover {
  border-bottom: solid black 1px;
}


h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 3em;
  line-height: 1.4em;
  letter-spacing: -0.03em;
  color: var(--black);
  background-color: rgba(255, 255, 255, 0);
}

h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
  display: inline-block;

  font-size: 2em;
  letter-spacing: -0.02em;
  line-height: 1.5em;
  color: var(--darkgrey);
  background-color: rgba(255, 255, 255, 0);

}

h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 1.3em;
  letter-spacing: -0.015em;
  line-height: 1.6em;
  color: var(--black);
  background-color: rgba(255, 255, 255, 0);

  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 0.95em;
  letter-spacing: 0.04em;
  /* line-height: 2em; */
  color: var(--darkgrey);
  background-color: rgba(255, 255, 255, 0);
}

h5 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 1em;
  letter-spacing: 0.06em;
  line-height: 1.5em;
  color: var(--darkgrey);
  background-color: rgba(255, 255, 255, 0);
}

/* for the list items */
h6 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 24px;

  color: var(--darkgrey);
  background-color: rgba(255, 255, 255, 0);

  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;

  padding-bottom: 1em;

  font-size: 1.1em;
  letter-spacing: 0.05em;
  line-height: 1.8em;
  color: var(--darkgrey);
  background-color: none;
}


.modalbutton {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.text-hover {
  display:inline-block;
  color: rgba(68, 68, 79, 0.8);
  transition: 0.6s;
  background-color: rgba(255, 255, 255, 0);
}

.text-hover:hover {
  display:inline-block;
  color: var(--darkgrey);
  transition: 0.3s;
  background: #FEE5FF;
  /* background: rgba(252, 161, 255, 0.3); */
}

.text-highlight {
  display:inline-block;
  color: var(--darkgrey);
  background: #FEE5FF;
  /* background: rgba(252, 161, 255, 0.3); */
}


.rotate {
  transform: rotate(-5deg);
  position: absolute;
  color: var(--lightgrey);

  /* Border is the new background */
  background: none;

  /* Rotate from top left corner (not default) */
  transform-origin: 0 2;

  /* Safari */
  -webkit-transform: rotate(-5deg);

  /* Firefox */
  -moz-transform: rotate(-5deg);

  /* IE */
  -ms-transform: rotate(-5deg);

  /* Opera */
  -o-transform: rotate(-5deg);
}

.justify {
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  width: auto;

  /* border-style: dashed;
  border-color: green; */
}

.half-opacity {
  color: #AAAAAA;
}


.blue-text {
  color: #008981;
}

.red-text {
  color: #C30081;
}

/* .nav-button {
  letter-spacing: 0.04em;
  line-height: 1.5em;
  text-decoration: none;

  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--darkgrey);
} */

.nav-button {
  color: var(--darkgrey);
  display: flex;
  flex-direction: row;
  align-items: center;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 88px;

  /* colors */
  /* background-color: rgba(239, 241, 249, 0.5);; */
  /* background-color: white; */

  /* borders */
  border: solid 1px;
  border-color: rgba(0, 0, 0, 0.05);

  transition: 0.2s;
}

.nav-button:hover  {
  background-color: #F2ECF7;
  transition: 0.2s;
}

.nav-button2:hover  {
  background-color: rgba(239, 241, 249, 1);
  transition: 0.2s;
}

.nav-button2 {
  color: var(--darkgrey);
  display: flex;
  flex-direction: row;
  align-items: center;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 12px;
  border-radius: 88px;

  /* colors */
  /* background-color: rgba(239, 241, 249, 0.5);; */
  /* background-color: white; */

  /* borders */
  border: solid 1px;
  border-color: rgba(239, 241, 249, 1);

  transition: 0.2s;
}


.button-wrapper {
  display: inline-block;
}


/*  ____________________________ SPACERS ____________________________*/

.smallspacer {
  height: 1em;
}

.spacer {
  height: 3em;
}

.bigspacer {
  height: 6em;
}

.modal-spacer {
  height: 0em;
}



/* iphone X */
@media screen and (max-width: 550px) {
  h1 {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-style: normal;

    font-size: 2em;
    line-height: 1.5em;
    letter-spacing: -0.01em;
    color: var(--black);
  }

  h2 {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    overflow: hidden;
    /* background-color: red;
    display: inline-block; */

    font-size: 1.5em;
    letter-spacing: 0.04em;
    line-height: 1.5em;
    color: var(--darkgrey);
  }


  h3 {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 24px;

    color: var(--darkgrey);
    background-color: rgba(255, 255, 255, 0);

    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
  }

  h4 {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-style: normal;

    font-size: 0.95em;
    letter-spacing: 0.04em;
    line-height: 3em;
    color: var(--darkgrey);
  }

  h5 {
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-style: normal;

    font-size: 1em;
    letter-spacing: 0.06em;
    line-height: 1.5em;
    color: var(--grey);
  }

  p {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;

    padding-top: 1em;

    font-size: 1em;
    letter-spacing: 0.05em;
    line-height: 1.8em;
    color: var(--darkgrey);
  }

  a {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 24px;

    color: var(--darkgrey);
    background-color: rgba(255, 255, 255, 0);

    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
  }

  a:link {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;

    /* color: var(--darkgrey); */
  }

  a:hover {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;

    /* color: #8F9699; */
  }

  /*  ____________________________ SPACERS ____________________________*/

  .smallspacer {
    height: 0.5em;
  }

  .spacer {
    height: 1.5em;
  }

  .bigspacer {
    height: 3em;
  }

  .vertical-line {
    border-left: none;
  }

  .hide {
    display: none;
  }

  .modal-spacer {
    height: 1em;
  }


  .nav-button {
    color: var(--darkgrey);
    display: flex;
    flex-direction: row;
    align-items: center;
    /* position: fixed; */


    /* padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px; */
    border-radius: 88px;


    /* colors */
    /* background-color: rgba(239, 241, 249, 0.5);; */
    /* background-color: white; */

    /* borders */
    border: solid 1px;
    border-color: rgba(239, 241, 249, 1);

    transition: 0.2s;
  }

}


/* iphone 5/SE */
@media screen and (max-height: 568px){
  h1 {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-style: normal;

    font-size: 1.5em;
    line-height: 1.5em;
    letter-spacing: -0.01em;
    color: var(--black);
  }

  h2 {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    overflow: hidden;
    /* background-color: red;
    display: inline-block; */

    font-size: 1.5em;
    letter-spacing: 0.04em;
    line-height: 1.5em;
    color: var(--darkgrey);
  }


  h3 {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 24px;

    color: var(--darkgrey);
    background-color: rgba(255, 255, 255, 0);

    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
  }

  h4 {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-style: normal;

    font-size: 0.95em;
    letter-spacing: 0.04em;
    line-height: 2em;
    color: var(--darkgrey);
  }

  h5 {
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-style: normal;

    font-size: 1em;
    letter-spacing: 0.06em;
    line-height: 1.5em;
    color: var(--grey);
  }

  p {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;

    padding-top: 1em;

    font-size: 1em;
    letter-spacing: 0.05em;
    line-height: 1.8em;
    color: var(--darkgrey);
  }


  a {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 24px;

    color: var(--darkgrey);
    background-color: rgba(255, 255, 255, 0);

    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
  }

  a:link {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;

    /* color: var(--darkgrey); */
  }

  a:hover {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;

    /* color: #8F9699; */
  }

  /*  ____________________________ SPACERS ____________________________*/

  .smallspacer {
    height: 0.5em;
  }

  .spacer {
    height: 1.5em;
  }

  .bigspacer {
    height: 2em;
  }

  .vertical-line {
    border-left: none;
  }

  .hide {
    display: none;
  }

  .modal-spacer {
    height: 1em;
  }


  .nav-button {
    color: var(--darkgrey);
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 88px;


    /* colors */
    /* background-color: rgba(239, 241, 249, 0.5);; */
    /* background-color: white; */

    /* borders */
    border: solid 1px;
    border-color: rgba(239, 241, 249, 1);

    transition: 0.2s;
  }

  .nav-button:hover  {
    background-color: rgba(239, 241, 249, 1);;
    transition: 0.2s;
  }



}
