#myBtn {
  letter-spacing: 0.04em;
  line-height: 1.5em;
  text-decoration: none;

  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--darkgrey);
}

.hidden {
    display: none;
}

.modal {
  z-index: 7; /* Sit on top */
}


/* big */
@media screen and (min-width: 551px) {
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 7; /* Sit on top */
    padding-top: 0em; /* Location of the box */
    left: 0;
    top: 0;

    /* width: 100vw;
    height: 100vh; */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

    justify-content: center;


    /* Enable scroll if needed */
    /* overflow: auto; */

    /* Fallback color */
    background-color: rgba(232, 232, 232, 0.8);

    /* White w/ opacity + blur */
    background-color: rgba(232, 232, 232, 0.8);
    backdrop-filter: blur(20px);
  }

  .modal-header {
    padding-bottom: 24px;
    background: none;

    /* border-style: solid;
    border-color: blue; */
  }

  .modal-body {
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: auto;
    gap: 48px;
    align-items: center;

    /* border: solid 4px green; */
  }

  .about-col-1of2 {
    /* flex: 1 1 30em; */
    flex-grow: 1;
    /* border: 2px dashed red; */
  }

  .about-col-2of2 {
    /* flex: 1 1 30em; */
    flex-grow: 1;
    /* border: 2px dashed red; */
  }

  /* Modal Content */
  .modal-content {
    /* position: relative; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding-left: 48px;
    padding-right: 48px;
    padding-top: 24px;
    padding-bottom: 48px;
    /* padding: 1em 20em 1em 20em; */

    background-color: #fefefe;
    border: 1px solid rgba(0, 0, 0, 0.05);
    width: 50%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;

    border-radius: 24px;
    box-shadow: 0px 20px 40px 0px rgba(184, 200, 204, 0.15);
  }



  /* .modal-content {
    background-color: rgba(255, 255, 255, 0);
    padding: 1em 20em 1em 20em;
    height: 90%;

    overflow: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-style: dashed;
    border-color: green;
  } */

  .modal-text-padding {
    background-color: rgba(255, 255, 255, 0);
    padding-bottom: 1em;
    /* max-width: 40em; */
  }


  /* The Close Button */
  .close {
    color: white;
    float: left;
  }

  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
  }

}


/* iphone X */
@media screen and (max-width: 550px) {
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 7; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    flex-direction: column;
    justify-content: center;

    /* Enable scroll if needed */
    /* overflow: auto; */

    /* Fallback color */
    background-color: rgba(255, 255, 255);

    /* White w/ opacity + blur */
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
  }

  /* Modal Content */
  .modal-content {
    background-color: rgba(255, 255, 255, 0);
    padding: 2em 2em 2em 2em;

    width: 100%;
    height: 90%;

    /* Enable scroll if needed */
    overflow: auto;


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;

    /* border-style: dashed;
    border-color: red; */
  }

  .modal-text-padding {
    background-color: rgba(255, 255, 255, 0);
    padding-bottom: 1em;
  }

  /* The Close Button */
  .close {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 24px;
    width: 100%;

    padding: 16px 16px 16px 16px;
    box-sizing: border-box;

    border-style: dashed;
    border-color: green;
  }

  .close:hover,
  .close:focus {
    background-color: rgba(255, 255, 255, 0);
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


}
