/* big screen */
@media (min-width: 550px) {
  /* ____________________________ DETAILS ____________________________ */


  /* ____________________________ CASE STUDY ____________________________ */

  .max-text-width {
    max-width: 500px;
  }


  .content-container {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;

    gap: 4em;
    padding: 0em 28em 0em 28em;
    justify-content: center;

    /* border: 2px dashed red; */
  }

  .video-container {
    width: 500px;
    height: auto;
    border-radius: 12px;
  }


  .details-container {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1em;
    /* max-width: 500px; */
  }

  .col-1of2 {
    flex: 1 1 1em;
    max-width: 250px;
    /* border: 2px dashed red; */
  }

  .col-2of2 {
    flex: 1 1 1em;
    max-width: 250px;
    /* border: 2px dashed green; */
  }



  /* ____________________________ IMAGES ____________________________ */

  .img-border {
    border-radius: 16px;
  }

  .img-side-margin {
    padding: 6em 6em 6em 6em;
  }

  .image-case-box {
    max-width: 100%;
    height: auto;
  }

  .item {
      width: 500px;
      max-height: auto;
      float: left;
  }

  .image-box {
  	width: 100%;
    height: inherit;
    border-radius: 3px;

  	overflow: hidden;
  	background-size: cover;
  	background-repeat: no-repeat;
    /* border: dashed blue 1px; */
  }

}



/* ipad */
@media screen and (max-width: 1200px) {


  /* ____________________________ CASE STUDY ____________________________ */


  .max-text-width {
    max-width: 500px;
  }


  .content-container {
    flex: 1 1 auto;
    display: column;
    flex-wrap: wrap;
    gap: 2em;
    padding: 0em 24px 0em 24px;
    /* border: 2px dashed blue; */
  }

  .details-container {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* max-width: 500px; */
  }

  .col-1of2 {
    flex: 1 1 10em;
    /* border: 2px dashed red; */
    padding-bottom: 0.5em;
  }

  .col-2of2 {
    flex: 1 1 10em;
    /* border: 2px dashed green; */
  }


  /* ____________________________ IMAGES ____________________________ */

  .img-border {
    border-radius: 3px;
  }

  .img-side-margin {
    padding: 1em 24px 4em 24px;
  }


  .image-box {
  	width: 100%;
    height: inherit;
    border-radius: 3px;

  	overflow: hidden;
  	background-size: cover;
  	background-repeat: no-repeat;
    /* border: dashed blue 1px; */
  }

}



/* iphone X */
@media screen and (max-width: 550px) {
  /* ____________________________ DETAILS ____________________________ */


  /* ____________________________ CASE STUDY ____________________________ */


    .max-text-width {
      max-width: 500px;
    }


  .content-container {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 100%; */
    /* height: auto; */
    /* overflow-x: hidden; */
    /* margin: 1em 24px 1em 24px; */
    /* padding-top: 2em; */

    /* border: 2px dashed blue; */
  }

  video {
    width: 100%;
    height: auto;
  }


  .col-1of2 {
    flex: 1 1 10em;
    /* border: 2px dashed red; */
    padding-bottom: 2em;
  }

  .col-2of2 {
    flex: 1 1 10em;
    /* border: 2px dashed green; */
  }



  /* ____________________________ IMAGES ____________________________ */

  .img-border {
    border-radius: 3px;
  }

  .img-side-margin {
    padding: 1em 24px 4em 24px;
  }


  .image-box {
  	width: 100%;
    height: inherit;
    border-radius: 3px;

  	overflow: hidden;
  	background-size: cover;
  	background-repeat: no-repeat;
    background-position: center;

    /* border: dashed blue 1px; */
  }

}
